@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800&display=swap');

html, body {
  font-family: 'Be Vietnam Pro', system-ui, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
}
